<?xml version="1.0" encoding="UTF-8" ?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.igoticecream.pokemon.sniper"
	>

	<application
		android:name=".SniperApp"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/SniperTheme"
		>

	</application>

</manifest>
